---
---

@import "{{ site.theme }}";

.page-header {
    background-image: url("{{ '/assets/figures/entity_types.png' | relative_url }}");
    background-size: 100%; 
    background-color: rgb(0,0,0);
}

.btn {
    color: rgba(255,255,255,0.9);
    background-color: rgba(0,0,0,0.6);
}

img.flush-left {
    float: right;
    width: 40%;
    max-width: 30ex;
    margin-right: clamp(-30ex, calc(15ex - 15vw), 0ex);
}

/* The highlight divs */
div.flex-container {
  align-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

div.flex-highlight {
  background-color: #fdfdfd;
  border: 1px solid #d4d4d4;
  margin: 1ex auto;
  border-radius: 1ex 1ex 0ex 0ex;
  max-width: 100%;
  width: 10ex;
  display: inline-block;
}
