---
---

@import "{{ site.theme }}";

.page-header {
    background-image: url("{{ '/assets/figures/entity_types.png' | relative_url }}");
    background-size: 100%; 
    background-color: rgb(0,0,0);
}

.btn {
    color: rgba(255,255,255,0.9);
    background-color: rgba(0,0,0,0.6);
}

img.flush-left {
    float: right;
    width: 40%;
    max-width: 30ex;
    margin-right: clamp(-30ex, calc(15ex - 15vw), 0ex);
}

/* The highlight divs */
div.flex-container {
  align-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

div.flex-highlight {
  border: 1px solid #d4d4d4;
  background-color: #159957;
  color: #FFF;
  margin: 1ex auto;
  margin-top: 1ex !important; /* Override a first-child setting of the theme */
  border-radius: 1ex;
  max-width: 100%;
  width: 25ex;
  display: inline-block;
  text-align: center;
  min-height: 1.7em;
  padding: .5ex;
}

.main-content h1:first-of-type {
    margin-top: 0px;
}

@media only screen and (min-width: 1300px) {
    div.flex-container {
	position: absolute;
	left: calc(20vw - 29ex);
	min-width: 20ex;
	width: 19vw;
    }
}
